<div class="rivio-reviews">
    <hr>
    <div class="rivio-reviews-review">
        <div class="rivio-reviews-review-left">
            <div class="rivio-reviews-review-avatar">
                <p>
                    {{user-capital}}
                </p>
            </div>
        </div>
        <div class="rivio-reviews-review-body">
            <div class="rivio-reviews-review-body-date">
                <p>
                    {{review-date}}
                </p>
            </div>
            <div class="rivio-reviews-review-body-username">
                <p>
                    {{user-name}}
                </p>
            </div>
            <div class="rivio-reviews-review-body-rating">
                <p>
                    {{rating-stars}}
                </p>
            </div>
            <div class="rivio-reviews-review-body-title">
                <p>
                    {{title}}
                </p>
            </div>
            <div class="rivio-reviews-review-body-body">
                <p>
                    {{body}}
                </p>
            </div>
        </div>
    </div>
</div>