
.rivio {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.rivio-star {
    color: #ffd200;
    text-shadow: 0 1px 0 #cb9500;
}

.rivio-star.full:after {
    content: "\2605";
}

.rivio-star.empty:after {
    content: "\2606";
}

.rivio-review {
    display: table;
}

.rivio-review > hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #dadada;
    box-sizing: content-box;
    height: 0;
}

.rivio-review p {
    margin: 0 0 10px;
}

.rivio-review-left {
    display: table-cell;
    padding-right: 10px;
    vertical-align: top;
}

.rivio-review-avatar {
    background-color: #0c94b6;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 0;
}

.rivio-review-avatar p {
    text-transform: uppercase;
    line-height: 48px;
}

.rivio-review-body {
    display: table-cell;
    width: 100%;
}

.rivio-review-body-date {
    float: right;
    color: #777777;
}

.rivio-review-body-username {
    font-size: 12px;
    color: #0c94b6;
}

.rivio-review-body-rating {
    font-size: 18px;
}

.rivio-review-body-title {
    font-weight: bold;
}